/* Global styles */
:root {
  --accent: #ff385c;
  --accent-light: #ff7f96;
  --accent-lighter: #ffabba;
  --accent-hover: #FFB3C2;
  --dark: #524e50;
  --med-grey: #666564;
  --medium: #d4c9c2;
  --light: #DAD8D9;
  --highlight: #E7E3E3;
  --calories: #c7c7ff;
  --calories-text: rgba(149, 149, 255, 1);
  --carbs: #ffd8be;
  --carbs-text: rgba(252, 161, 71, 1);
  --protein: #a9ecbf;
  --protein-text: rgba(66, 193, 110, 1);
  --fat: #f3bbe1;
  --fat-text: rgba(220, 91, 183, 1);
  --btnradius: 50px;
  --radius: 10px;
  --card: #f7f7f7;
}

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: block;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}

.page-container {
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0.01em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  border: none;
  cursor: pointer;
}

#compare-btn,
.submit-btn,
.swal2-styled.swal2-confirm {
  color: white;
  border: 2px solid var(--accent) !important;
  background-color: var(--accent) !important;
  border-radius: var(--btnradius) !important;
}

#filter-submit-btn:hover,
#compare-btn:hover,
.add-btn:hover,
.remove-btn:hover,
.submit-btn:hover,
.swal2-styled.swal2-confirm:hover {
  border: 2px solid var(--medium) !important;
  background-color: var(--medium) !important;
}

#filter-submit-btn:active,
#compare-btn:active,
.add-btn:active,
.remove-btn:active,
.submit-btn:active,
.swal2-styled.swal2-confirm:active {
  border: 2px solid var(--dark) !important;
  background-color: var(--dark) !important;
}

.save-btn,
.swal2-styled.swal2-cancel {
  border-radius: var(--btnradius) !important;
  border: 2px solid var(--accent) !important;
  background-color: white !important;
  color: var(--accent) !important;
}

#filter-reset-btn:hover,
#add-compare-btn:hover,
.access-btn:hover,
.save-btn:hover,
.swal2-styled.swal2-cancel:hover {
  border: 2px solid var(--medium) !important;
  background-color: var(--medium) !important;
  color: white !important;
}

#filter-reset-btn:active,
#add-compare-btn:active,
.access-btn:active,
.save-btn:active,
.swal2-styled.swal2-cancel:active {
  border: 2px solid var(--dark) !important;
  background-color: var(--dark) !important;
  color: white !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-container,
.form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 3em;
  min-width: 250px;
  width: 20vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  padding: 1em;
  margin: 0.5em auto 0.5em auto;
  width: 65%
}

.link-btn {
  color: var(--dark);
  background: none;
  text-decoration: underline;
}

.link-btn:hover {
  text-decoration: none;
}

.link-btn:active {
  color: var(--highlight)
}

.questionIndex {
  padding: 1em;
  border: none;
  border-radius: var(--btnradius);
  width: 100%;
}

.is-invalid.hide {
  display: none;
  visibility: hidden;
}

.error-message {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  color: red;
  font-weight: bold;
}

/* Landing page */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 400px;
}

.landing-container {
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.image-container {
  width: 100%;
}

#logo {
  width: 100%;
}

.access-btn {
  width: 100%;
  border: 2px solid white;
  background-color: white;
  padding: 1em;
  border-radius: var(--btnradius);
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.access-btn:hover {
  background-color: var(--medium);
}

.access-btn:active {
  background-color: var(--dark);
}

/* Login page */

.input-box {
  text-align: left;
  border-radius: var(--btnradius);
  background-color: white;
  border: 1px solid var(--accent);
  margin-bottom: 0.5em;
  display: flex;
}

#emailInput,
#passwordInput {
  border-radius: var(--btnradius);
  padding: 1em;
  border: none;
  width: 75%;
}

/* 
.forgot-btn {
  font-size: 13px;
  width: 25%;
  padding: 1em;
  text-align: right;
  text-decoration: underline;
}

.forgot-btn:hover {
  text-decoration: none;
}

.forgot-btn:active {
  color: var(--highlight)
} */

/* .is-invalid {
  border-color: red;
  box-shadow: 0 0 0 0.1rem red;
} */

.is-invalid.hide {
  display: none;
  visibility: hidden;
}

.error-message {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

/* Signup page */
.signup_label {
  text-align: left;
  margin-bottom: 0.5em;
  border-radius: var(--btnradius);
  border: 1px solid var(--accent);
  display: flex;
  flex-direction: column;
}

.signup_input {
  padding: 1em;
  border: none;
  border-radius: var(--btnradius);
  height: auto;
}

h2 {
  margin: 0.5em;
}

h5 {
  margin-top: 0.5em;
}

/* Signup profile */
.profile_input {
  text-align: left;
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: var(--btnradius);
  border: 1px solid var(--accent);
  display: flex;
  flex-direction: column;
}

.select_label {
  margin-bottom: 0.5em;
  border: 1px solid var(--accent);
  border-radius: var(--btnradius);
}

/* Onboarding page */
.page-container {
  overflow-y: scroll;
  color: var(--dark);
}

#backbutton {
  color: var(--accent);
  margin-left: 25px;
}

#backbutton:hover {
  color: var(--medium);
}

#backbutton:active {
  color: var(--dark);
}

.logout-btn {
  border: none;
  background-color: transparent;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.logout-btn:hover {
  color: var(--accent);
}

/* CSS for Nutritional goal grid */
.profile-card {
  width: 254px;
  height: 190px;
  color: white;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
}

.profile-card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.item--1 {
  background: var(--calories);
}

.item--2 {
  background: var(--carbs);
}

.item--3 {
  background: var(--protein);
}

.item--4 {
  background: var(--fat);
}

.quantity {
  font-size: 25px;
  font-weight: 600;
}

.text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}

.text--1 {
  color: var(--calories-text);
}

.text--2 {
  color: var(--carbs-text);
}

.text--3 {
  color: var(--protein-text);
}

.text--4 {
  color: var(--fat-text);
}

/* Home page*/
/*The progress ring mainly based on https://dev.to/vaibhavkhulbe/let-s-make-and-wear-those-css-3-progress-rings-2ngf*/

/* Progress ring start */

.rings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.percent1, .percent2, .percent3, .percent4, svg, circle {
  width: 80px;
  height: 80px;
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 220;
  stroke-linecap: round;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #d4c9c2;
}

.percent1 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #c7c7ff;
  animation: percent 1.5s linear;
  animation-delay: 1s;
}


.percent1 h2 {
  color: #9595ff;
}

.percent2 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #ffd8be;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}

.percent2 h2 {
  color: #fca147;
}


.percent3 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #a9ecbf;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}

.percent3 h2 {
  color: #42c16e;
}

.percent4 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #f3bbe1;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}


.percent4 h2 {
  color: #dc5bb6;
}


.number {
  position: relative;
  bottom: 73px;
  right: 3px;
}

.number h2 {
  font-size: 16px;
}

span {
  font-size: 15px;
  opacity: .7;
}



@keyframes percent {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

/* Progress ring end */


ul {
  list-style: none;
}

#nearby {
  display: inline-block;
  margin-top: 300px;
  align-items: center;
  justify-content: center;
}


.number, #division1, #division2, #division3, #division4 {
  font-size: small;
}

.list-table {
  width: 100%;
  table-layout: fixed;
  display: contents;
}


.list-table td {
  text-align: left;
  padding: 5px;
}



.map {
  height: 0;
}

.greeting>h2 {
  color: #616161;
  margin-top: 60px;
}

.goals>h2, #nearby>h2 {
  text-align: center;
  color: var(--accent);
  margin-top: 50px;
}

#map {
  height: 400px;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

.goals {
  margin-right: 10px;
  margin-left: 10px;
}

/* ---------- Top NavBar ---------- */

#top-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e9ecef;
  z-index: 100;
  display: flex;
  justify-content: baseline;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.search-bar-icons {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.search-container {
  flex-grow: 1;

}

#search-span {
  position: fixed;
  translate: 35% 25%;
}

#filter-span {
  position: fixed;
  translate: -150% 25%;
}

#nav-search-bar:active {
  border-color: var(--accent);
}

#nav-search-bar {
  padding: 0.5em 2.4em 0.5em 2.4em;
  border: none;
  border-radius: 50px;
  width: calc(100% - 150px);
  height: 100%;
  font-size: 1.1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#profile-icon {
  margin: 0.3em 0 0 1em;
  width: 42px;
  height: 42px;
}

.tray-icon-container {
  position: relative;
  display: inline-block;
}

#tray-icon:hover {
  cursor: pointer;
}

#tray-icon {
  margin: 0.2em 1.2em 0 0;
  width: 47px;
  height: 47px;
}

.tray-count {
  position: absolute;
  font-size: 1em;
  top: 1.045em;
  right: 2.34em;
  color: var(--accent);
  font-weight: bold;
}

.small-font {
  font-size: 0.67em;
  top: 1.85em;
  right: 3.33em;
}

/* ---------- End of Top NavBar ---------- */



/* ---------- Right SideBar ---------- */

#right-sidebar-container {
  background-color: white;
  position: fixed;
  right: -350px;
  top: 60px;
  height: calc(100% - 130px);
  width: 390px;
  z-index: 97;
  transition: transform 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, .1);
  transform: translateX(250px);
  overflow: auto;
}

#compare-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  bottom: 25px;
  padding: 20px 20px 30px 20px;
  width: calc(100% - 40px);
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

.compare-list-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
}

.compare-side-restaurant {
  width: 90px;
  text-align: left;
  font-size: 12pt;
  color: var(--dark);
}

.compare-side-item {
  width: 170px;
  text-align: left;
  font-size: 12pt;
  font-weight: 600;
  color: var(--dark);
}

#compare-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#compare-btn {
  margin: 0.5em auto 0 auto;
  padding: 0.5em 1em 0.5em 1em;
  width: 50%;
  height: 45px;
  font-size: 11pt;
  justify-content: center;
}

#remove-compare-btn {
  background-color: var(--accent);
  color: white;
  border: 2px solid var(--accent);
  border-radius: var(--btnradius);
  padding: 0.5em 1em;
  cursor: pointer;
}


/* ---------- End of Right SideBar ---------- */



/* ---------- Compare SideBar ---------- */

#compare-sidebar-container {
  /* background-color: #e9ecef; */
  background-color: rgb(216, 216, 216);
  position: fixed;
  left: -370px;
  top: 60px;
  height: calc(100% - 130px);
  width: 390px;
  z-index: 97;
  transition: transform 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, .1);
  /* transform: translateX(250px); */
  overflow: auto;
}

/* ---------- End of Compare SideBar ---------- */



/* ---------- Bottom NavBar ---------- */

#bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--accent);
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .1);
}

.bottom-nav-icons {
  width: 36px;
  height: 36px;
}

/* ---------- End of Bottom NavBar ---------- */



/* ---------- Search Results ---------- */

.search-results-container::-webkit-scrollbar {
  background: transparent;
}

.search-results-container::-webkit-scrollbar-thumb {
  background: #66656418;
  border-radius: 10px;
}

.search-results-container {
  position: fixed;
  top: 60px;
  left: 25px;
  width: calc(100% - 50px);
  height: auto;
  max-height: 75%;
  padding: 5px 0 20px 0;
  background-color: #f7f7f7;
  z-index: 99;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.search-results-container>ul {
  width: auto;
  height: 100%;
  text-align: left;
  margin: 0.5em 20px 0 0;
}

.list-item {
  list-style-type: none;
}

.list-item a {
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid #e9ecefb9;
  border-radius: 12px;
  display: flex;
  text-decoration: none;
}

.list-item a:visited, a:hover, a:active, a:link {
  color: inherit;
}

#search-results a:hover {
  background-color: #84c3ff28;
  cursor: pointer;
}

.hidden {
  display: none;
}

#search-results-restaurant {
  font-size: 11pt;
  font-weight: 300;
  width: 105px;
  max-width: 105px;
  min-width: 105px;
  color: #666564;
}

#search-results-calories {
  font-size: 9pt;
  color: #666564
}

/* ---------- End of Search Results ---------- */


/* ---------- Filter ---------- */

.filter-card-container {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f7f7f7;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 90;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  text-align: left;
  width: 100%;
}

.show {
  transform: translateY(0);
}

.filter-card-container form {
  margin: 20px;
  display: block;
  text-align: center;
}

.filter-card-container form label {
  display: block;
  margin-bottom: 10px;
}

.filter-card-container form input[type="checkbox"] {
  margin-right: 15px;
}

#filter-submit-btn, #filter-reset-btn {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid var(--accent);
  font-size: 15px;
  cursor: pointer;
  border-radius: var(--btnradius);
  margin: auto;
  margin-top: 10px;
  width: 100px;
}

#filter-submit-btn {
  background-color: var(--accent);
  color: white;
}

#filter-reset-btn {
  background-color: white;
  color: var(--accent);
}

.filter-button {
  background-color: #f2f2f2;
  border: none;
  color: var(--dark);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: inline;
  border-width: 2px;
  border-style: none;
}

/* Style the selected button */
.filter-button.selected {
  background-color: #fff5f7;
  border: solid 1px var(--accent);
  color: var(--accent);
}

/* ---------- End of Filter ---------- */


/* ---------- Food Tray ---------- */
#tray-banner-container {
  position: fixed;
  top: calc(100% - 110px);
  z-index: 98;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: transform 0.3s ease;
}

#tray-contents {
  background-color: var(--light);
  padding: 10px 20px 20px 20px;
  width: calc(100% - 90px);
  max-width: 500px;
  height: 100%;
  border-radius: 20px 20px 0 0;
  margin: 0 auto 0 auto;
}

#food-tray-heading {
  font-size: 14pt;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}

#totalNutrition {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nutrition-item {
  text-align: center;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- End of Food Tray ---------- */